<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="http://malsup.github.com/jquery.cycle2.js"></script>
<div class="row">
  <div class="col-lg-6">
<h1>Welcome to Phreelance!</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus nibh lectus. Sed volutpat sapien in luctus ornare. Nullam sodales cursus ligula sed tempor. Nam volutpat viverra risus vitae commodo. Nullam iaculis elit in nunc auctor, eget ultricies libero rhoncus. Aliquam consequat massa et semper varius. Proin maximus metus enim, sit amet condimentum justo volutpat a. Sed consequat malesuada augue, at elementum mi tempor id. Praesent bibendum bibendum ornare. Morbi vehicula lectus ligula, ac imperdiet est aliquet eu.

Pellentesque nec pretium risus, sit amet imperdiet lectus. Donec iaculis eros ac lectus suscipit venenatis. Duis at lectus ultricies, maximus lectus ac, hendrerit sapien. Mauris nec lacus pellentesque, interdum ante sed, ultricies libero. Phasellus cursus tempor magna ut congue. Suspendisse accumsan urna vitae tincidunt vehicula. Vestibulum lacinia lectus id est pellentesque rhoncus. Nunc quis leo non diam finibus commodo. Maecenas dignissim placerat dui sit amet tincidunt. Maecenas imperdiet mauris id diam hendrerit, vel laoreet nisl pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum lacus, pharetra quis purus eget, tempus tempor ipsum. Pellentesque scelerisque dignissim orci, accumsan scelerisque nisi condimentum id. Donec vehicula gravida euismod.</p>
</div>

<!-- <div ng-controller="AnimateCtrl">
  <button ng-click="hideStuff()">click to hide</button>
  <div class="default" ng-hide="hidden" ng-class="{fade: startFade}">
    <p>this will be hidden</p>
<img src="css/phreelance-main.jpg" width="524" height="350">
<div> -->


<!-- // <script>
// $(document).ready(function() {
//     $('#picOne').fadeIn(1500).delay(3500).fadeOut(1500);
//     $('#picTwo').delay(5000).fadeIn(1500);
// });
// </script> -->
<!--
<div ng-controller="AnimateCtrl" ng-repeat="fadeStuff()">
<div id="pics">
  <img src="css/phreelance-main.jpg" width="524" height="350" id="picOne">
  <img src="css/phreelance-girl.jpg" width="500" height="363" id="picTwo">
  </div>
</div> -->

<div class="cycle-slideshow">
  <img src="http://malsup.github.io/images/p1.jpg">
     <img src="http://malsup.github.io/images/p2.jpg">
     <img src="http://malsup.github.io/images/p3.jpg">
     <img src="http://malsup.github.io/images/p4.jpg">
</div>
